<div class = "container-fluid">

<div class = "row">
  <div class = "col-xs-12 navigation">
  <% @profiles.each do |profile| %>
  <%= link_to 'Edit your profile', edit_profile_path(profile) %>
  <%= link_to 'New Profile', new_profile_path %>
  <%= link_to 'Home', root_path %>
  <% end %>
  </div>
</div>

<div class = "row">
<div class = "col-xs-3 search">
<h1>Search for profiles</h1>



</div>

<div class = "col-xs-9 mentors">
<h1>Listing profiles</h1>

  <div class = "col-xs-12 mentee">
    <% @profiles.each do |profile| %>
    <div class = "col-xs-3 avatar">
      <%= gravatar_for profile %>
      <ul>
        <li><%= link_to profile.name, profile %></li>
        <li><%= profile.tag_line %></li> 
      </ul>
    </div>
    <div class = "col-xs-6 description">
      <ul>
        <li>I want to meet <%= profile.meet_up %></li>
        <li><%= profile.catagory %></li>
        <li><%= profile.short_biography %></li>
        <li><%= profile.what_do_you_want_to_achieve %></li>
        </ul>
    </div>
    <% end %>
  </div>
</div>


</div>
</div>